CI_ENVIRONMENT = development
app.baseURL = 'http://localhost:8082/'
app.indexPage = ''
# A separate SQLite file under writable/ is used by default.
# For MySQL, create a NEW empty database and uncomment:
# database.default.DBDriver = MySQLi
# database.default.hostname = localhost
# database.default.database = tasks_for_today_tsa2
# database.default.username = root
# database.default.password = ''
# Set before the first seed; changing it later does not reset an existing password.
# DEMO_PASSWORD = 'ChooseYourOwnPassword'

